@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
:root{
    --fonte-padrao: 'Sriracha', 'cursive';
    --fonte-titulo: 'Passion One', 'display';
}
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    margin: auto;
    text-align: center;
    font-family: var(--fonte-titulo);
}
header > h1{
    font-variant: small-caps;
    font-size: 4.5em;
    padding: 40px;
}
section{
    background-color: white;
    color: black;
    padding: 15vh 0vh;
    line-height: 3em;
    padding-left: 30px;
    font-family: var(--fonte-padrao);
}
section > p{
    max-width: 400px;
    min-width: 280px;
    font-size: 1.2em;
}
section > h2{
    max-width: 400px;
    min-width: 280px;
}
section.imagem{
    background-color: rgba(53, 53, 53, 0.993);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.623);
    background-attachment: fixed;
    background-size: cover;
}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.425);
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}
section.imagem > h2{
    background-color: rgba(0, 0, 0, 0.425);
    padding: 5px;
    text-shadow:1px 1px 0px black
}
section#img001{
    background-image: url(imagens/penhasco.jpg);
    background-position: right right;
}
section#img002{
    background-image: url(imagens/despedacado.jpg);
    background-position: center center;
}
section#img003{
    background-image: url(imagens/ambar.jpg);
    background-position: center left;
}
section#img004{
    background-image: url(imagens/morte.jpg);
    background-position: center center;
}
a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
    font-style: normal;
}
a:hover{
    text-decoration: underline;
}
footer > p{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: initial;
    font-size: 0.8em;
    padding: 5px 0px;
}
footer{
    text-align: center;
    font-style: italic;
}